@import "@fontsource/inter/latin.css";
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gray-50 text-gray-900 font-sans;
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* tambahkan varian lainnya seperti 500, 600, 700 jika perlu */

